# Hobo Data, Student Version

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import sklearn as sk
import cv2
import numpy as np

In [3]:
df = pd.read_csv("./code_to_sensor.csv")
x = df.x
y = df.y
df

   Code           x           y
0    A1   26.932203  203.474576
1    A2   28.293103  247.293104
2    A3   31.928571  295.732143
3    A4   38.285714  353.500000
4    A5   44.436364  408.327273
5    A6   61.965517  517.310345
6    A7   65.535714  625.857143
7    A8   84.547170  713.433962
8    B1  103.137931  148.500000
9    B2  113.175439  209.561404
10   B3  123.293104  262.293103
11   B4  130.672727  323.436364
12   B5  140.625000  379.625000
13   B6  153.250000  464.571429
14   B7  158.321429  570.821429
15   B8  180.625000  689.625000
16   C1  198.250000  104.571429
17   C2  206.929825  149.526316
18   C3  216.877193  205.789474
19   C4  225.571429  267.250000
20   C5  233.321429  325.821429
21   C6  243.250000  404.571429
22   C7  256.929825  504.526316
23   C8  280.625000  624.625000
24   D1  304.491228   75.789474
25   D2  313.321429  125.821429
26   D3  323.137931  178.500000
27   D4  331.965517  237.310345
28   D5  340.625000  294.625000
29   D6  354.491228  370.789474
30   D7  369.388889  483.388889
31   D8  396.929825  583.473684
32   E1  395.571429   42.250000
33   E2  406.877193   95.789474
34   E3  414.436364  148.327273
35   E4  419.500000  207.137931
36   E5  434.436364  254.672727
37   E6  456.877193  345.789474
38   E7  486.932203  453.474576
39   E8  521.929825  544.526316
40   F1  481.965517   12.310345
41   F2  495.535714   65.857143
42   F3  506.965517  117.310345
43   F4  515.625000  174.625000
44   F5  534.491228  232.210526
45   F6  570.535714  325.857143
46   F7  606.928571  420.732143
47   F8  618.293104  517.293104

In [4]:
def get_coord(code):
    df2 = df[df.Code == code]
    return df2.x.iloc[0], df2.y.iloc[0]
get_coord("A1")

(np.float64(26.93220339), np.float64(203.4745763))

In [9]:
def get_extents():
    return 650, 730
get_extents()

(650, 730)