In [16]:
import pandas as pd

In [30]:
df = pd.DataFrame({'Name':['Water Bottle','Candy','Bread','Ham'],
                   'Cost':[1.5,2.0,3.75,5.0],
                   'Weight':[12,1.7,8,8]})

# Option A
a = df[(df.Cost > 3)]
# Option B
b = df[df.Name == 'Water Botle']
# Option C
c = df[df.Weight == 1.7]

In [33]:
c

    Name  Cost  Weight
1  Candy   2.0     1.7