# Weather In London Over The Years

In [2]:
import pandas as pd
import matplotlib

Analyze Weather data

In [3]:
df = pd.read_csv('london_weather.csv')
df['year'] = df['date']//10000
df['month'] = (df['date']//100) % 100
df['day'] = df['date'] % 100
df

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,year,month,day
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,1979,1,1
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,1979,1,2
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,1979,1,3
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,1979,1,4
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,1979,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN,2020,12,27
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN,2020,12,28
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN,2020,12,29
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN,2020,12,30
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN,2020,12,31

In [4]:
df.describe()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,year,month,day
count,1.534100e+04,15322.000000,15341.000000,15322.000000,15335.000000,15305.000000,15339.000000,15335.000000,15337.000000,13900.000000,15341.000000,15341.000000,15341.000000
mean,1.999567e+07,5.268242,4.350238,118.756951,15.388777,11.475511,7.559867,1.668634,101536.605594,0.037986,1999.500359,6.522782,15.730070
std,1.212176e+05,2.070072,4.028339,88.898272,6.554754,5.729709,5.326756,3.738540,1049.722604,0.545633,12.121708,3.448856,8.800562
min,1.979010e+07,0.000000,0.000000,8.000000,-6.200000,-7.600000,-11.800000,0.000000,95960.000000,0.000000,1979.000000,1.000000,1.000000
25%,1.989070e+07,4.000000,0.500000,41.000000,10.500000,7.000000,3.500000,0.000000,100920.000000,0.000000,1989.000000,4.000000,8.000000
50%,2.000010e+07,6.000000,3.500000,95.000000,15.000000,11.400000,7.800000,0.000000,101620.000000,0.000000,2000.000000,7.000000,16.000000
75%,2.010070e+07,7.000000,7.200000,186.000000,20.300000,16.000000,11.800000,1.600000,102240.000000,0.000000,2010.000000,10.000000,23.000000
max,2.020123e+07,9.000000,16.000000,402.000000,37.900000,29.000000,22.300000,61.800000,104820.000000,22.000000,2020.000000,12.000000,31.000000

In [5]:
df.shape

(15341, 13)

In [6]:
df[df['global_radiation'].isna()].shape

(19, 13)

In [7]:
df['precipitation'].value_counts()

precipitation
0.0     7963
0.2     1021
0.4      461
0.1      324
0.6      302
        ...
27.4       1
36.8       1
22.4       1
30.0       1
31.0       1
Name: count, Length: 262, dtype: int64

In [8]:
#df[(df['skyc1']=='CLR')].shape

In [9]:
#df[(df['skyc1']=='CLR') & (df['p01i']>0)].shape

In [10]:
df[df['precipitation']>0].shape[0] / df[df['precipitation']>=0].shape[0]

0.4807303553961526

In [11]:
#for c in ['skyc1', 'skyc2', 'skyc3', 'skyc4']:
#	print(c,df[df[c].isna()].shape)

In [12]:
#df[(df['skyc1'] != df['skyc2']) & (df['skyc1']=='CLR')][['skyc1','skyc2']]

In [13]:
#df[(df['skyc1'] != df['skyc2'])][['skyc1','skyc2']].value_counts()

In [14]:
#total_p01i_per_day_et_new = df.groupby('Day Of Week ET')['p01i'].sum()

In [15]:
#total_p01i_per_day_et_new

In [16]:
rain_by_year = df.groupby('year')['precipitation'].sum()
sunshine_by_year = df.groupby('year')['precipitation'].sum()
pdf = pd.DataFrame(columns=[rain_by_year,sunshine_by_year])

We would like to count the number of clear observations per day. We can do this with a `groupby` followed by a `size()` function

In [ ]:
#df[df['skyc1'] == 'CLR'].groupby('Day Of Week ET').size()

In [ ]:
#df[df['skyc1'] == 'CLR'].groupby('Day Of Week ET').size().plot(kind="bar")

Does every day have the same number of recorded observations?

In [ ]:
df.groupby('Day Of Week ET').size().plot(kind="bar")

In [ ]:
percentage_clr_days_et_new = (df[df['skyc1'] == 'CLR'].groupby('Day Of Week ET').size() / df.groupby('Day Of Week ET').size()) * 100

In [ ]:
percentage_clr_days_et_new

In [ ]:
percentage_clr_days_et_new.plot(kind='bar')

In [ ]:
# Recalculate the necessary components based on the 'Day Of Week ET' column from the new dataset with daylight information

# Total precipitation (p01i) for each day of the week
total_p01i_per_day_et_new = df.groupby('Day Of Week ET')['p01i'].sum()

# Percentage of OVC and CLR days
percentage_ovc_days_et_new = (df[(df['skyc1'] == 'OVC') | (df['skyc2'] == 'OVC') | (df['skyc3'] == 'OVC')].groupby('Day Of Week ET').size() / df.groupby('Day Of Week ET').size()) * 100
percentage_clr_days_et_new = (df[df['skyc1'] == 'CLR'].groupby('Day Of Week ET').size() / df.groupby('Day Of Week ET').size()) * 100

# Total number of rows (observations) for each day of the week
total_rows_per_day_et_new = df.groupby('Day Of Week ET').size()

# Combine all the data into one DataFrame
combined_et_df_new = pd.DataFrame({
    'Day Of Week ET': total_rows_per_day_et_new.index,
    'Total Number of Rows ET': total_rows_per_day_et_new.values,
    'Total p01i ET': total_p01i_per_day_et_new.values,
    'Percentage of OVC Days ET': percentage_ovc_days_et_new.values,
    'Percentage of CLR Days ET': percentage_clr_days_et_new.values
})

combined_et_df_new

Conclusions? BTW what is day 5 and 6? How else could you define a good/bad day? What ways could you change the question to make your desired outcome more likely? Is this statistically significant?